---
import Layout from '../layouts/Layout.astro';

// Components from the starter
import IncentiveLarge from '../components/incentives/IncentiveLarge.astro';
import ProductFeature from '../components/products/productFeature';

export const prerender = true;

const features = {
  Quality: `We carefully select and curate our products to ensure that they meet the
    highest standards of quality and craftsmanship. We believe that our customers
    deserve the best, and we are committed to delivering it.`,
  Sustainability: `We believe in doing our part to protect the planet, which is why
    we work with suppliers who prioritize eco-friendly and sustainable production methods.
    We believe that we can make a positive impact on the world by making conscious choices
    about the products we offer and the way we do business.`,
  ['Customer Service']: `We are passionate about providing exceptional customer service and support.
    Our team is always here to help with any questions or concerns you may have, and we are committed
    to making sure that you have a positive experience every time you shop with us.`,
  Innovation: `We are always exploring new ways to improve and enhance our online store. We believe
    that innovation is key to staying ahead of the curve and providing our customers with the best
    possible shopping experience.`,
};
---

<Layout title="Landing Page">
  <main>
    <div class="container my-5">
      <ProductFeature
        title="About us"
        full_description={`
          At Astro E-commerce, we are dedicated to providing our customers with the best possible
          shopping experience. We believe that shopping should be easy, convenient, and enjoyable,
          and we strive to make that a reality for everyone who visits our site.
        `}
        images={[
          {
            src: 'https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80',
            alt: 'photo of bag, sneakers, and sunglasses on beige surface',
          },
          {
            src: 'https://images.unsplash.com/photo-1627384113743-6bd5a479fffd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80',
            alt: 'black and gold calvin klein perfume bottle',
          },
          {
            src: 'https://images.unsplash.com/photo-1522682078546-47888fe04e81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80',
            alt: 'red and yellow Biscuits neon light signage hanged on gray brick wall',
          },
          {
            src: 'https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80',
            alt: 'white corded headphones',
          },
        ]}
        featuresDetails={features}
      />

      <div class="my-10">
        <IncentiveLarge
          title="We build our business on customer service"
          description={`
            Our company provides exceptional customer service with a dedicated team ready to assist
            you with any questions or concerns. We offer prompt and courteous support for placing
            an order, tracking a shipment, or resolving any product issues. Contact us by phone,
            email, or live chat during regular business hours. Thank you for choosing us, and we
            look forward to providing you with a great customer experience.
          `}
          items={[
            {
              icon: 'fa-sync-alt',
              title: 'Exchange',
              description: `Try something new without worry with our exchange policy. If you're not satisfied with your
                purchase, you can exchange it within a specified timeframe. `,
            },
            {
              icon: 'fa-shipping-fast',
              title: 'Free Shipping',
              description:
                'Enjoy free shipping on all orders and save money while making shopping more convenient.',
            },
            {
              icon: 'fa-user',
              title: '10 Years Warranty',
              description: `Rest easy with the knowledge that your purchase comes with a 10-year warranty.
                This gives you peace of mind and reassurance that your investment is wise.`,
            },
          ]}
        />
      </div>
    </div>
  </main>
</Layout>
