---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import Navbar from '../components/navbar';
import StoreDoubleColumn from '../components/store/storeDoubleColumn';
import IncentiveLarge from '../components/incentives/incentiveLarge';
import ProductFeature from '../components/products/productFeature';

export const prerender = true;
---

<Layout title="Landing Page">
  <main>
    <Navbar />
    <div class="container my-5">
      <ProductFeature
        title={data.about.title}
        images={data.about.images}
        full_description={data.about.mission}
        featuresDetails={data.about.values}
      />

      <div class="my-10">
        <IncentiveLarge />
      </div>

      <StoreDoubleColumn />
    </div>
  </main>
</Layout>
