---
import Layout from '../layouts/Layout.astro';

import IncentiveLarge from '../components/incentives/IncentiveLarge.astro';
import ProductFeature from '../components/products/productFeature';

export const prerender = true;
---

<Layout title="Landing Page">
  <main>
    <div class="container my-5">
      <ProductFeature
        title="About us"
        full_description={`
          At Astro E-commerce, we are dedicated to providing our customers with the best possible
          shopping experience. We believe that shopping should be easy, convenient, and enjoyable,
          and we strive to make that a reality for everyone who visits our site.
        `}
        images={[
          {
            src: 'https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80',
            alt: 'first_image',
          },
          {
            src: 'https://images.unsplash.com/photo-1605647540924-852290f6b0d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80',
            alt: 'second_image',
          },
          {
            src: 'https://images.unsplash.com/photo-1592478411213-6153e4ebc07d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2012&q=80',
            alt: 'third_image',
          },
          {
            src: 'https://images.unsplash.com/photo-1627645812426-67ce7b0a7a81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80',
            alt: 'fourth_image',
          },
          {
            src: 'https://images.unsplash.com/photo-1639931897192-caa5fe8a628c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80',
            alt: 'fifth_image',
          },
          {
            src: 'https://images.unsplash.com/photo-1502185635613-0a5b2e78efea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80',
            alt: 'sixth_image',
          },
        ]}
        featuresDetails={{
          Quality:
            'We carefully select and curate our products to ensure that they meet the highest standards of quality and craftsmanship. We believe that our customers deserve the best, and we are committed to delivering it.',

          Sustainability:
            'We believe in doing our part to protect the planet, which is why we work with suppliers who prioritize eco-friendly and sustainable production methods. We believe that we can make a positive impact on the world by making conscious choices about the products we offer and the way we do business.',

          ['Customer Service']:
            'We are passionate about providing exceptional customer service and support. Our team is always here to help with any questions or concerns you may have, and we are committed to making sure that you have a positive experience every time you shop with us.',

          Innovation:
            'We are always exploring new ways to improve and enhance our online store. We believe that innovation is key to staying ahead of the curve and providing our customers with the best possible shopping experience.',
        }}
      />

      <div class="my-10">
        <IncentiveLarge
          title="We build our business on customer service"
          description={`
            It’s like a little kid, a little boy, looking at colors, and no one
            told him what colors are good, before somebody tells you you shouldn’t
            like pink because that’s for girls, or you’d instantly become a gay
            two-year-old. Why would anyone pick blue over pink? Pink is obviously
            a better color.
          `}
          items={[
            {
              icon: 'fa-shipping-fast',
              title: 'Free Shipping',
              description:
                'There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill.',
            },
            {
              icon: 'fa-user',
              title: '10 Years Warranty',
              description:
                'I’m not really specifically talented at anything except for the ability to learn.',
            },
            {
              icon: 'fa-sync-alt',
              title: 'Exchange',
              description:
                'Then we lose family over time. What else could rust the heart more over time? Blackgold.',
            },
          ]}
        />
      </div>
    </div>
  </main>
</Layout>
