---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';

import Testimonials from '../components/Testimonials.astro';

import CardCategory from '../components/products/cardCategory';
import PromoSectionLarge from '../components/promo/promoSectionLarge';

export const prerender = true;
---

<Layout title="Landing Page">
  <main>
    <PromoSectionLarge
      title=" Experience the Future of VR"
      full_description="Immerse yourself in a new world of entertainment, gaming, and education with our high-quality virtual reality headsets. With cutting-edge technology and comfortable designs, our headsets allow you to experience a new level of immersion and interactivity. Whether you want to explore new worlds, compete in virtual reality games, or attend virtual events, our headsets provide an unforgettable experience. Discover the future of entertainment and education with our virtual reality headsets today!"
      pageHeaderBgImg="https://images.unsplash.com/photo-1626379953822-baec19c3accd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80"
      pageHeaderMinVh="90vh"
    />

    <div class="container my-5">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4>Shop by category</h4>
        <a class="text-primary text-sm font-weight-bold" href="#"
          >Browse all categories {'>'}</a
        >
      </div>
      <div class="row mb-5">
        {
          data.categories.map((category) => (
            <div class="col-md-6 col-lg-3">
              <CardCategory
                thumb_src={category.thumb_src}
                title={category.title}
              />
            </div>
          ))
        }
      </div>

      <PromoSectionLarge
        title="VR Headset Sales"
        full_description="Check out our virtual reality headset sales section to find amazing deals on headsets and accessories. Discover clearance items, bundle deals, and limited-time offers that provide extra savings. Plus, take advantage of free shipping on qualifying orders. Start exploring the world of virtual reality today with our top-quality equipment at discounted prices."
        pageHeaderBgImg="https://images.unsplash.com/photo-1653158861306-e5b3804f6115?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80"
        pageHeaderMinVh="50vh"
        pageHeaderRadius="1rem"
      />

      <div class="mt-5 mb-10">
        <Testimonials testimonials={data.testimonials} />
      </div>
    </div>
  </main>
</Layout>
