---
import { humanize } from '../helpers';

interface Props {
  categories: string[];
  selected?: string;
}

const { categories, selected } = Astro.props;

const sizeID = Date.now();
---

<div class="mt-4 d-flex justify-content-between align-items-center">
  <h6 class="mb-0">Select a category:</h6>
</div>
<div class="d-flex flex-wrap text-center my-4">
  {
    categories.map((category, i) => {
      const checked = selected === category;
      const route = checked ? '?' : `?category=${category}`;
      return (
        <div class="mb-3 me-3">
          <div class="form-check">
            <input
              class="form-check-input rounded-2"
              type="radio"
              name="flexRadioDefault"
              checked={checked}
              id={`input` + sizeID + i}
              onclick={`window.location.assign('${route}')`}
            />
            <label class="cursor-pointer" for={`input` + sizeID + i}>
              {humanize(category)}
            </label>
          </div>
        </div>
      );
    })
  }
</div>
