---
const date = new Date().getFullYear();
---

<footer class="border-top p-4">
  <div class="copyright text-center text-sm text-muted">
    All rights reserved. Copyright © {date} &nbsp;Astro Ecommerce by
    <a
      href="https://www.creative-tim.com"
      class="text-secondary ms-1"
      target="_blank">Creative Tim</a
    >.
  </div>
</footer>
